<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>clients - rtm2</title>

</head>
<body>
<h2><a href="/stream">back to streams</a></h2>

<div>
    <table  border="1">
        <tr>
                <td><span>sid, ip</span><br></td>
                <td>
                    <span>headers</span>
                </td>
            </tr>
        {% for item in clients %}
            <tr>
                <td><span>{{ item.sid }}</span><br><span>{{ item.ip }}</span></td>
                <td>
                    {% for i in item.header %}
                        {{ i }}<br>
                    {% endfor %}
                </td>
            </tr>


        {% endfor %}
    </table>
</div>
</body>
</html>